<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.how2java.mapper.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.how2java.pojo.RolePermission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rid" jdbcType="BIGINT" property="rid" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
  </resultMap>


  <delete id="deleteByRid" parameterType="java.lang.Long">
    delete from role_permission
    where rid = #{0}
  </delete>

  <delete id="deleteByPid" parameterType="java.lang.Long">
    delete from role_permission
    where pid = #{0}
  </delete>

  <insert id="insert" parameterType="com.how2java.pojo.RolePermission">
    insert into role_permission (rid, pid)
    values (#{rid}, #{pid})
  </insert>



  <sql id="Base_Column_List">
    id, rid, pid
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from role_permission
    where id = #{id,jdbcType=BIGINT}
  </select>

</mapper>