<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.how2java.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.how2java.pojo.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc_" jdbcType="VARCHAR" property="desc_" />
  </resultMap>


  <select id="getRoleByUser"  parameterType="com.how2java.pojo.User" resultType="com.how2java.pojo.Role">
    select r.id,r.name from user u
                                      left join user_role ru
                                                on u.id = ru.uid left
                                        join role r
                                             on r.id = ru.rid

    where u.id =#{id}
  </select>

  <select id="getAll"  resultType="com.how2java.pojo.Role">
    select * from role

  </select>


  <delete id="deleteById" parameterType="java.lang.Long">
    delete from role
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.how2java.pojo.Role">
    insert into role (name, desc_)
    values (#{name}, #{desc_})
  </insert>

  <select id="getById"  resultType="com.how2java.pojo.Role">
    select * from role where id=#{id}

  </select>

  <update id="update" parameterType="com.how2java.pojo.Role">
    update role
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="desc_ != null">
        desc_ = #{desc_},
      </if>
    </set>
    where id = #{id}
  </update>


</mapper>